/target/
.slim/deepwork/
/result
/result-*
.env
/.env.*
/settings.json
/aliases.json
*.session
*.session-journal
*.session-shm
*.session-wal
/session
/session-journal
/session-shm
/session-wal
/state/
*.sqlite
*.sqlite3
*.db
*.db-journal
